# Diplay First Playable Tablature In Notebook

#### Imports

In [22]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### Load Pre-Predicted npz into memory

In [13]:
data = np.load( # load the pre -predicted file
    '/mnt/d/data-science/le-wagon/autotab/gcp/00_Jazz3-137-Eb_solo_full_val0_75acc_predictions.npz',
    allow_pickle=True)
file_list = data.files # files in data
print(file_list)

['y_pred', 'y_gt']

### Extract Labels from npz for display

In [16]:
#print y_pred only
labels = data['y_pred']
print(labels)

[[[9.91828084e-01 1.41215778e-03 3.65978573e-04 ... 1.68349889e-05
   2.51176461e-05 2.95193713e-05]
  [9.83470261e-01 4.61945019e-04 1.16535474e-03 ... 2.09600257e-05
   3.24627181e-05 1.94735348e-05]
  [9.03561115e-01 1.45609875e-03 6.02495275e-04 ... 4.11819310e-05
   6.03329536e-05 4.01288671e-05]
  [9.08628285e-01 1.76568364e-03 3.11754434e-03 ... 2.05516306e-04
   9.93458452e-05 6.95863273e-05]
  [9.52622056e-01 2.06642342e-03 1.03363348e-03 ... 8.61249500e-05
   3.12140510e-05 6.11344367e-05]
  [9.86932456e-01 1.74722692e-03 4.78911650e-04 ... 1.48878362e-05
   1.30207563e-05 1.26841960e-05]]

 [[9.81309235e-01 2.84631480e-03 8.19838257e-04 ... 5.02384719e-05
   8.35219544e-05 9.87357416e-05]
  [9.53751862e-01 1.07281422e-03 3.71406716e-03 ... 9.48615634e-05
   2.06851400e-04 1.28685962e-04]
  [6.62815094e-01 4.76568751e-03 2.21980084e-03 ... 2.06902158e-04
   2.70859688e-04 2.00400522e-04]
  [7.25732028e-01 4.97882674e-03 8.92710686e-03 ... 9.56088770e-04
   4.50442138e-04 2.56085041e-04]
  [8.75790000e-01 5.68941981e-03 2.52574356e-03 ... 3.82007624e-04
   1.35271010e-04 3.10066884e-04]
  [9.66596186e-01 4.52887174e-03 1.12524151e-03 ... 4.86842255e-05
   4.27945051e-05 5.21676229e-05]]

 [[9.55340803e-01 5.31863654e-03 1.75716821e-03 ... 1.77124282e-04
   3.00769432e-04 3.42320913e-04]
  [8.86525810e-01 2.26719119e-03 8.64000153e-03 ... 4.40822012e-04
   1.19987025e-03 7.72530562e-04]
  [3.81095797e-01 1.00788437e-02 5.47519140e-03 ... 7.77452020e-04
   9.26857931e-04 6.41521183e-04]
  [4.48870599e-01 1.22484993e-02 2.21408568e-02 ... 2.66581960e-03
   1.69577682e-03 6.54353760e-04]
  [6.31252050e-01 1.49618043e-02 6.73536444e-03 ... 1.56467559e-03
   6.87315187e-04 1.94905570e-03]
  [9.04956758e-01 1.14940368e-02 2.30911560e-03 ... 1.72698929e-04
   1.72653978e-04 3.38311307e-04]]

 ...

 [[9.29524899e-01 1.03298957e-02 6.00477820e-03 ... 2.97990802e-04
   2.25864293e-04 4.81249532e-04]
  [8.62870634e-01 5.08313533e-03 6.64889719e-03 ... 2.90768279e-04
   1.67604754e-04 1.46734994e-04]
  [8.31621885e-01 6.76572043e-03 2.40311306e-03 ... 5.03975956e-04
   5.97106584e-04 2.29351572e-04]
  [9.26669598e-01 4.35164385e-03 4.94014006e-03 ... 3.16506688e-04
   1.78439746e-04 1.87149184e-04]
  [9.28833544e-01 4.75707883e-03 4.86544240e-03 ... 1.97977919e-04
   1.44610487e-04 1.22667072e-04]
  [9.72924232e-01 3.21661239e-03 8.54226877e-04 ... 7.52171763e-05
   7.34800269e-05 8.89802250e-05]]

 [[9.76588488e-01 3.84236546e-03 1.55292754e-03 ... 8.71202283e-05
   6.84609331e-05 1.22881131e-04]
  [9.56619322e-01 1.74097973e-03 2.40358198e-03 ... 6.58897115e-05
   4.28183339e-05 2.82608689e-05]
  [9.48861361e-01 1.90124416e-03 6.80872414e-04 ... 7.26522921e-05
   1.20727113e-04 5.03237643e-05]
  [9.61126566e-01 1.62716780e-03 2.23005353e-03 ... 1.21605925e-04
   6.04865163e-05 6.73815739e-05]
  [9.56521451e-01 2.11165869e-03 2.21948395e-03 ... 8.33295635e-05
   5.45201801e-05 5.27096927e-05]
  [9.81808603e-01 2.01774179e-03 5.72329795e-04 ... 3.62390274e-05
   3.30270195e-05 3.93599075e-05]]

 [[9.88382995e-01 1.85896910e-03 6.80678757e-04 ... 4.32788111e-05
   3.44500004e-05 5.56224732e-05]
  [9.80846345e-01 7.95132073e-04 1.14144955e-03 ... 2.73574915e-05
   1.84392247e-05 1.08682025e-05]
  [9.71708715e-01 9.66756081e-04 3.58944148e-04 ... 2.51300262e-05
   5.50811601e-05 2.57980537e-05]
  [9.66673195e-01 1.10724079e-03 1.59442832e-03 ... 8.61063454e-05
   4.36186419e-05 4.73305699e-05]
  [9.60575759e-01 1.50119734e-03 1.67064683e-03 ... 6.17534824e-05
   3.85314015e-05 4.25070357e-05]
  [9.83622134e-01 1.56734500e-03 5.13913110e-04 ... 2.84483558e-05
   2.38610664e-05 3.01466480e-05]]]

In [17]:
labels.shape

(78760, 6, 21)

SANITY CHECK
File name = 00_Jazz3-137-Eb_solo
File has 1206 frame in 1d.csv
78760/1206 = 65.30 so something is wrong, this is not the right file or something has gone wrong, lets still continue with the other steps

In [18]:
78760/1206

65.30679933665009

### Process Column 0 to only keep strings with probability>0/9, others set to 0

#### First trying with a single frame for example

In [43]:
frame339 = pd.DataFrame(labels[339]) # loading frame 0 into a dataframe

In [44]:
frame339

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.960465,0.011455,0.002016,0.003971,0.006520,0.006007,0.002445,0.001697,0.001214,0.001319,...,0.000336,0.000696,0.000147,0.000291,0.000120,0.000131,0.000126,0.000179,0.000109,0.000112
1,0.714505,0.010030,0.011113,0.021026,0.025172,0.016723,0.017870,0.145928,0.012284,0.009672,...,0.001510,0.002223,0.000983,0.000959,0.000917,0.000535,0.000458,0.000315,0.000714,0.000358
2,0.893784,0.003948,0.001918,0.012695,0.013425,0.012588,0.005288,0.013189,0.009267,0.016517,...,0.004918,0.002083,0.001010,0.001468,0.000582,0.000558,0.000248,0.000280,0.000345,0.000184
3,0.865230,0.006176,0.014722,0.011590,0.009197,0.012375,0.006610,0.010566,0.017435,0.019851,...,0.005300,0.003950,0.001438,0.003119,0.000721,0.000487,0.000436,0.000465,0.000403,0.000363
4,0.887668,0.006517,0.004989,0.004933,0.005278,0.013636,0.005775,0.014387,0.005627,0.017926,...,0.013418,0.005132,0.002578,0.001814,0.000586,0.001263,0.000367,0.000398,0.000241,0.000255
5,0.957530,0.003985,0.002018,0.003313,0.003231,0.003403,0.002475,0.005806,0.003527,0.005178,...,0.001680,0.002067,0.001074,0.001313,0.000282,0.000240,0.000523,0.000188,0.000117,0.000131

In [49]:
# List Frame 339, 0 Fret
frame339[0]

0    0.960465
1    0.714505
2    0.893784
3    0.865230
4    0.887668
5    0.957530
Name: 0, dtype: float32

In [50]:
# List Frame 339, 0 Fret, where value < 0.9
frame339[0][frame339[0] < 0.9]

1    0.714505
2    0.893784
3    0.865230
4    0.887668
Name: 0, dtype: float32

In [53]:
# now set (Frame 339, 0 Fret, where value < 0.9) set as 0
frame339[0].replace(to_replace=list(frame339[0][frame339[0] < 0.9]),
                  value=0,
                  inplace=True)

In [54]:
#now check the result
frame339[0]

0    0.960465
1    0.000000
2    0.000000
3    0.000000
4    0.000000
5    0.957530
Name: 0, dtype: float64

In [55]:
#check frame 339 with cleared 0 fret
frame339

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.960465,0.011455,0.002016,0.003971,0.006520,0.006007,0.002445,0.001697,0.001214,0.001319,...,0.000336,0.000696,0.000147,0.000291,0.000120,0.000131,0.000126,0.000179,0.000109,0.000112
1,0.000000,0.010030,0.011113,0.021026,0.025172,0.016723,0.017870,0.145928,0.012284,0.009672,...,0.001510,0.002223,0.000983,0.000959,0.000917,0.000535,0.000458,0.000315,0.000714,0.000358
2,0.000000,0.003948,0.001918,0.012695,0.013425,0.012588,0.005288,0.013189,0.009267,0.016517,...,0.004918,0.002083,0.001010,0.001468,0.000582,0.000558,0.000248,0.000280,0.000345,0.000184
3,0.000000,0.006176,0.014722,0.011590,0.009197,0.012375,0.006610,0.010566,0.017435,0.019851,...,0.005300,0.003950,0.001438,0.003119,0.000721,0.000487,0.000436,0.000465,0.000403,0.000363
4,0.000000,0.006517,0.004989,0.004933,0.005278,0.013636,0.005775,0.014387,0.005627,0.017926,...,0.013418,0.005132,0.002578,0.001814,0.000586,0.001263,0.000367,0.000398,0.000241,0.000255
5,0.957530,0.003985,0.002018,0.003313,0.003231,0.003403,0.002475,0.005806,0.003527,0.005178,...,0.001680,0.002067,0.001074,0.001313,0.000282,0.000240,0.000523,0.000188,0.000117,0.000131

### Use idmax to determine best fret for every frame

In [62]:
#now use idmax to check best fret for every string
fret339 = list(frame339.idxmax(axis='columns'))
print(fret339)

[0, 7, 9, 9, 9, 0]

In [71]:
#what are their values?
for string,fret in enumerate(fret339):
 print(f"string {string} fret {fret} = {frame339[fret][string]}")

string 0 fret 0 = 0.9604651927947998
string 1 fret 7 = 0.1459280550479889
string 2 fret 9 = 0.016517173498868942
string 3 fret 9 = 0.01985056698322296
string 4 fret 9 = 0.017925992608070374
string 5 fret 0 = 0.9575302004814148

### Load into Tablature

In [78]:
def make_empty_tab():
    tab_dict = {
    'E': [],
    'A': [],
    'D': [],
    'G': [],
    'B': [],
    'e': [],
    }
    tablature = pd.DataFrame.from_dict(tab_dict)
    tablature = tablature.T
    return tablature

In [60]:
#make Tablature
tab_dict = {
    'E': [],
    'A': [],
    'D': [],
    'G': [],
    'B': [],
    'e': [],
}
tablature = pd.DataFrame.from_dict(tab_dict)
tablature = tablature.T
tablature

Empty DataFrame
Columns: []
Index: [E, A, D, G, B, e]

In [72]:
# add frame 339
tablature[339] = fret339

In [73]:
tablature

   339
E    0
A    7
D    9
G    9
B    9
e    0

In [79]:
tablature = make_empty_tab()
# loop over all frames to add for all frame (lets test for 99 frames)
for frame_idx in range(0,99):
    frame = pd.DataFrame(
        labels[frame_idx])  # loading frame frame_idx into a dataframe
    # now set (Frame, 0 Fret, where value < 0.9) set as 0
    frame[0].replace(to_replace=list(frame[0][frame[0] < 0.9]),
                value=0,
                inplace=True)
    #now use idmax to check best fret for every string
    fret = list(frame.idxmax(axis='columns'))
    #add fret to tablature
    tablature[frame_idx] = fret

In [80]:
#print out tablature for first 99 frames 
tablature

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
E,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A,0,0,7,7,7,7,7,7,7,7,...,0,0,0,0,0,0,0,0,0,0
D,0,9,9,9,9,9,9,9,9,9,...,7,7,7,7,0,0,0,0,0,0
G,0,4,4,4,4,9,9,9,9,9,...,8,8,8,8,8,8,8,8,8,8
B,0,9,9,9,9,9,9,9,9,9,...,7,7,7,7,7,7,7,7,7,7
e,0,0,0,7,5,5,5,5,5,5,...,0,0,0,0,0,0,0,0,0,0

### squeeze every n frames together, to show fret with max occurrences

In [82]:
#lets squeeze every 9 frames for example
n=9

In [98]:
#get slice of 9 frames
batch = tablature.loc[:,0:0+n-1]
batch

   0  1  2  3  4  5  6  7  8
E  0  0  0  0  0  0  0  0  0
A  0  0  7  7  7  7  7  7  7
D  0  9  9  9  9  9  9  9  9
G  0  4  4  4  4  9  9  9  9
B  0  9  9  9  9  9  9  9  9
e  0  0  0  7  5  5  5  5  5

In [105]:
#find best fret values in these 9 frames
batch.mode(axis='columns')

     0    1
E  0.0  NaN
A  7.0  NaN
D  9.0  NaN
G  4.0  9.0
B  9.0  NaN
e  5.0  NaN

In [106]:
# if multiple modes, lets consider only the first
batch.mode(axis='columns')[0]

E    0.0
A    7.0
D    9.0
G    4.0
B    9.0
e    5.0
Name: 0, dtype: float64

In [110]:
#now do it for all n frames
squeezed_Tab = make_empty_tab()
for batch_idx in range(0,99,n):
    # for every frame_batch
    frame_batch = tablature.loc[:, batch_idx:batch_idx + n-1]
    squeezed_Tab[batch_idx] = frame_batch.mode(axis='columns')[0]

### display squeezed tablature

In [112]:
# some values of mode come as floats, so converting to int
squeezed_Tab.astype('int8')

   0   9   18  27  36  45  54  63  72  81  90
E   0   0   0   0   0   0   0   0   0   0   0
A   7   7   7   7   7   0   0   5   0   0   0
D   9   9   9   9   9   9   4   4   7   7   0
G   4   9   9   9   9   8  11   8   8   8   8
B   9   9   9   9   9   9   7   7   7   7   7
e   5   7   7   5   7   7   7   0   0   7   0

### Making Functions

In [114]:
def make_tab(labels,num_frames=99):
    tablature = make_empty_tab()
    # loop over all frames to add for all frame (lets test for num_frames frames)
    for frame_idx in range(0, num_frames):
        frame = pd.DataFrame(
            labels[frame_idx])  # loading frame frame_idx into a dataframe
        # now set (Frame, 0 Fret, where value < 0.9) set as 0
        frame[0].replace(to_replace=list(frame[0][frame[0] < 0.9]),
                        value=0,
                        inplace=True)
        #now use idmax to check best fret for every string
        fret = list(frame.idxmax(axis='columns'))
        #add fret to tablature
        tablature[frame_idx] = fret
    return tablature

In [126]:
def make_squeezed_tab(tablature, n=9):
    """Make displayable squeezed tablature
        Args:
        tablature : the full tablature made from labels
        n : the frame squeeze window. Currently using same size as con-win
    """
    #now do it for all n frames
    squeezed_Tab = make_empty_tab()
    for batch_idx in range(0, tablature.shape[1], n):
        # for every frame_batch
        frame_batch = tablature.loc[:, batch_idx:batch_idx + n - 1]
        squeezed_Tab[batch_idx] = frame_batch.mode(axis='columns')[0]
    return squeezed_Tab.astype(int)

In [128]:
#test it out
expanded_tab = make_tab(data['y_pred'],99)
display_tab = make_squeezed_tab(expanded_tab,9)
display_tab

   0   9   18  27  36  45  54  63  72  81  90
E   0   0   0   0   0   0   0   0   0   0   0
A   7   7   7   7   7   0   0   5   0   0   0
D   9   9   9   9   9   9   4   4   7   7   0
G   4   9   9   9   9   8  11   8   8   8   8
B   9   9   9   9   9   9   7   7   7   7   7
e   5   7   7   5   7   7   7   0   0   7   0